.w-100{
  width: 100vw;
}

.flex{
  display: flex;
}

.allCenter{
  justify-content: center;
  align-items: center;
}

.contenedor-fotos{
  .carrusel{
    overflow-x: auto;

  }
 
  img{
    width: 100px;
    height: auto;
    margin: 0 15px 0 15px;
  }
}

h3{
  margin-left:15px;
}

ion-icon{
  font-size:100px;
}

.mt-20{
margin-top: 20px;
}

.imagen-seleccionada{
  img{
    width: 80%;
    height: auto;
  }
}